@font-face{
font-family: 'PTSans-NarrowBold';
src: url('fonts/PTSansNarrow-Bold.eot');
src: url('fonts/PTSans-NarrowBold.ttf');
src: url('fonts/PTSans-NarrowBold.woff') format('woff');
font-weight: bold;
font-style: normal;
}